div {
    background-color: #b29cda;
    border: 5px solid #5891a3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 3px 3px 3px 3px;
    overflow: auto;
    height: 570px;
    width: 1510px;
}

.block{
    background-color: #9d8b03;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px 30px 15px;
    margin-top: 10px;
    width: 250px;
    height: 220px;
    border: 5px solid #5b5959;
    border-radius: 25px;
    box-shadow: inset 0px 0px 5px 4px #000;
}